.game-choices {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.choice {
  cursor: pointer;
}


.far {
  border: .5rem solid var(--clr-light-grey);
  border-radius: 2rem;
  font-size: clamp(10rem, 12rem, 10vw);
  color: var(--clr-light-grey);
  padding: 1.4rem;
  transition: all .3s ease-in;
}

.far:hover {
  color: #fff;
  border-color: #fff;
}

.fa-hand-paper {
  padding: 1.4rem 1.8rem;
}

@media screen and (min-width: 600px) {
  .game-choices {
    flex-direction: row;
    gap: 4rem;
  }
}